@model IEnumerable<TeacherStudentDB.Models.courses>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.teacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.teacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.coursesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.coursesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.coursesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
